*{margin: 0}

html, body{
	height: 100%;
}

#wrapper{
	float: left;
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	padding-bottom: 80px;
}

/* NAV LINKS */

body{
    margin: 0;
    padding: 0;
    background: grey;
}

nav{
    width:100%;
    background:white;
    overflow:auto;
}

ul{
    float:left;
    padding: 0;
    margin: 0 0 0 200px;
    list-style;none;
}

li{
    float:left;
    list-style-type: none;
}

.logo img{
    position: absolute;
}

nav a{
    width: 100px;
    display:block;
    padding:20px 15px;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    color:black;
    text-align: center;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li ul {
    display: block;
    position: absolute;
    background-color: #fff;
    padding: 10px;
}

nav ul li ul li {
    width: 180px;
}

nav ul li ul li a {
    padding:8px 15px;
}

nav ul li ul li a:hover {
    background-color: #f3f3f3;
}

nav ul li a {
    width: 100px;
    display:block;
    padding:20px 15px;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    color:black;
    text-align: center;
}

/* main section */

.space-above-header{
    height: 780px;
    width: 100%;
    background-image: url(../../assets/images/green-800x547.png);
    background-size: auto;
}

h1 {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
}

main{
	float: left;
	width: 100%;
	height: auto;
	font-family: 'Roboto', sans-serif;
	padding: 20px;
	box-sizing: border-box;
	background-color: #fff;
}

.middle-row-upper{
	height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    margin-top: 18px;
    font-family: 'Roboto', sans-serif;
}

.image-row{
	max-height: 440px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    margin-top: 10px;
}

.lower-row{
	height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}

#book-now-button{
	background: #423f3b;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	padding-left: 4px;
	padding-right: 4px;
	font-family: 'Roboto', sans-serif;
}

#book-now-button:hover{
	background: #54524e;
}


/* FOOTER LINKS */

footer{
	float: left;
	width: 100%;
	height: 80px;
	background: black;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-top: -80px;
	color: white;
}

#footer-text{
	margin-top: 10px;
	font-size: 16px;
}

#additional-footer-text{
	font-size: 11px;
	margin-top: 5px;
}
